# ignore ALL .log files
*.log
*__pycache__*
*.pyc

# ignore ALL files in ANY directory named temp
temp/ 
code/logs
code/experiments/logs
code/messageClient/logs

# ignore ALL files in ANY directory named env
env/
__pycache__/
*.pyo
*.pyd
.Python
.env
*.so